body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

/* General Styles */

.white {
  background-color: #fff;
  color: #000;
}

.black {
  background-color: #000;
  color: #fff;
}

.black-transparent {
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
}

.gray {
  color: #aaa;
}

.section {
  text-align: center;
  margin: 0px;
  padding: 30px 30px 40px 40px;
}

.section-header {
  font-family: 'Slabo 27px', serif;
  font-size: 42px;
  text-transform: lowercase;
  padding-bottom: 20px;
}

.section-text {
  margin: auto;
  max-width: 850px;
}

.large-text {
  line-height: 28px;
  max-width: 750px;
}

a {
  text-decoration: none;
  color: #008FFF;
}

a.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

/* Navbar */

.navbar, .mini-navbar {
  position: fixed;
  width: 100%;
}

.navbar ul, .mini-navbar ul, .spacer ul {
  list-style: none;
  font-family: 'Slabo 27px', serif;
  font-size: 0px; /*remove space between links*/
  text-align: center;
  padding: 0;
  margin: 0;
}

.navbar li, .mini-navbar li, .spacer li {
  /* Default things to do when the screen isn't large enough */
  font-size: 24px;
  border-top: 5px solid black;
  cursor: pointer;
  transition: .3s ease;
}

.navbar li:hover {
  /* Default things to do when the screen isn't large enough */
  border-top: 5px solid #008FFF;
}

.navbar li.active {
  border-top: 5px solid white;
  box-sizing: border-box;
}

@media screen and (min-width: 750px) {
  .navbar li, .spacer li {
    display: inline-block;
    width: 120px;
    height: 60px;
    line-height: 60px;
  }
  .mini-navbar {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .navbar li {
    display: none;
  }
  .mini-navbar li, .spacer li {
    display: inline-block;
    width: 120px;
    height: 60px;
    line-height: 60px;
  }
}

/* Logo */

.logo {
  padding: 30px;
}

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* What We Do */

/* Our Projects */

.all-projects ul{
  max-width:800px;
  margin: 0 auto;
  font-size: 0; 
}

.all-projects li{
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  white-space: normal;  
}

ul.featured-projects li {
  width: 50%;
  min-width: 400px;
}

ul.other-projects li {
  width: 33%;
  min-width: 230px;
}

.project-header {
  font-family: 'Slabo 27px', serif;
  font-size: 27px;
}

.project-image img {
  max-width: 100%;
}

.project-text {
  font-size: 15px;
}

ul.other-projects .project-header {
  font-size: 20px;
}

/* Donate */

.donate-button {
  margin-top: 20px;
  padding: 10px;
  background-color: #444;
  border-radius: 6px;
  display: inline-block;
  color: #fff;

  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.donate-button:hover {
  background-color: #008FFF;
}

/* Meet Our Team */

.team-table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-spacing: 10px;
}

.team-image {
  float: right;
}

.team-text {
  text-align: left;
}

.team-name {
  font-family: 'Slabo 27px', serif;
  font-size: 27px;
}

/* Footer */

.designed-by {
  padding-top: 60px;
  color: #666;
}

.made-by {
  padding-bottom: 10px;
  color: #666;
}

.earth {
  font-family: 'Slabo 27px', serif;
  font-size: 32px;
  color: #666;
}

.fraction-top {
  border-bottom: solid #666 2px;
  display: inline-block;
}